<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
  <appSettings>
    <add key="port" value="COM3"/>
    <add key="zabbix_sender" value="C:\\zabbix_agents_3.4.0.win64\\zabbix_sender.exe"/>
    <!--<add key="zabbix_server_ip" value="192.168.150.197"/>-->
    <add key="zabbix_host" value="Zabbix"/>
    <add key="t1.key" value="t1.temperature"/>
    <add key="t2.key" value="t2.temperature"/>
  </appSettings>
</configuration>
